/**
 * SETTINGS / Typography
 */
:root {
  --font-family-base: "Google Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  --font-size-xs: 11px;
  --font-size-sm: 12px;
  --font-size-base: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --line-height-tight: 1.2;
  --line-height-base: 1.5;
}
