/**
 * COMPONENTS / Sidebar
 */
.c-sidebar {
  height: 100%;
  padding: var(--space-4) var(--space-5);
  background-color: var(--color-bg-subtle);
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.c-sidebar__create {
  width: 100%;
  justify-content: flex-start;
  height: 48px;
  border-radius: var(--radius-md);
  background-color: var(--color-bg);
  color: var(--color-text);
  box-shadow: var(--shadow-md);
}

.c-sidebar__create:hover {
  box-shadow: var(--shadow-lg);
}

.c-sidebar__section-title {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-muted);
  margin-bottom: var(--space-3);
}
